.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;

  gap: 10px;

  button {
    height: 100px;
    width: 100px;

    position: relative;

    flex-grow: 1;

    display: block;
    // display: flex;
    // align-items: center;
    padding: 5px;

    .text {
      overflow-wrap: normal;
      word-break: break-word;
    }

    .light {
      position: absolute;
      // z-index: 999;
      top: 10px;
      right: 10px;
      width: 8px;
      height: 8px;
      background-color: #f50909;
    }

    .light.green {
      background-color: #0f9d58;
    }
    .light.red {
      background-color: #f50909;
    }

  }
}
