.page {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: blue;

  .mat-drawer-container {
    // flex-grow: 1;
    // background-color: green;
    overflow: hidden;
  }

  .nowPlaying {
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    border-radius: 5px;

    margin: 20px;
    margin-bottom: 0px;

    padding: 20px;
    gap: 10px;

    .display.dark {
      background-color: rgb(119, 118, 118);
      color: white;
    }

    .display {
      height: 100px;
      width: 500px;
      max-width: 100%;

      padding: 10px;

      border: 1px solid black;
      border-radius: 5px;

      background-color: aquamarine;

      display: flex;
      flex-direction: column;

      gap: 10px;



      .line1 {
        font-size: 20px;
        font-weight: 500;
        color: black;

        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .line2 {}
      .line3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

    }

    .actions {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }

  .content {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) ;
    grid-template-rows: 1fr;
    // flex: 1;
    // max-height: 100%;
    // height: 100%;
    // background-color: red;
    // flex-shrink: 1;
    height: 200px;
    // background-color: red;
    margin-bottom: 10px;
    // overflow: hidden;

    grid-template-areas:
      "queue active history";

    @media only screen and (max-width: 825px) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      // grid-template-rows: repeat(2, 500px);
      grid-template-areas:
        "queue active"
        "history history";
    }

    @media only screen and (max-width: 550px) {
      grid-template-columns: 1fr;
      // grid-template-rows: repeat(3, 500px);
      grid-template-areas:
        "queue"
        "active"
        "history";
    }

    gap: 10px;

    margin: 20px;
    margin-bottom: 10px;

    flex: 1;

    .queue {
      grid-area: queue;
    }

    .active {
      grid-area: active;
    }

    .history {
      grid-area: history;
    }

    > div {
      box-sizing:border-box;
      grid-area: list;
      border: 1px solid #000;
      padding: 10px;
      // max-height: 100%;
      overflow-y: hidden;

      @media only screen and (max-width: 825px) {
        height: 300px;
      }

      .call-list {
        display: flex;
        flex-direction: column;
        box-sizing:border-box;

        gap: 10px;
        max-width: 100%;
        // max-height: 100%;
        overflow-y: scroll;

        @media only screen and (max-width: 600px) {
          height: 200px;
          overflow-x: scroll;
        }

        app-call {
          flex: 1;
          max-width: 100%;
          overflow: hidden;
        }
      }
    }
  }
}

mat-toolbar {
  background-color: #000;
  color: #fff;

  padding: 10px 20px;

  gap: 10px;

  .title {
    @media only screen and (max-width: 825px) {
      font-size: .8rem;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-drawer {
  width: 600px;
  max-width: 96%;
  padding: 20px;
  background-color: white;

  border-left: 3px solid black;
}

mat-drawer-container {
  height: 100%;
  ::ng-deep mat-drawer-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5px 20px;
  margin-left: 20px;

  font-size: .9rem;

  border: #000 solid 1px;
  border-radius: 5px;

  @media only screen and (max-width: 825px) {
    padding: 0px 5px;
  }

  mat-spinner {
    margin-left: 10px;
    color: yellow;
  }
}

.connected {
  color: green;
  border-color: green;
}
.disconnected {
  color: red;
  border-color: red;
}
.connecting {
  color: yellow;
  border-color: yellow;
}
